* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family:fantasy;
}
  
.homepg {
    background-image: url('Images/home_back.png'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the image fixed during scrolling */
}
  

.logo{
    display: block;
    width: 110px;
}

header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

a:hover {
    color: #333;
}

.icon_list{
    overflow: hidden;
}

.icon_list a{
    float:left;
    color: white;
    text-align:center;
    padding: 18px 15px;
    font-size:16px;
    text-decoration: none;
}
.icon_list a:hover{
    color:black;
}
.icon_list a.active{
    color:#333;
}

.icon_list{
    list-style-type: none; /* Removes the default list bullet */
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /* Aligns items horizontally */
    justify-content: space-around; /* Distributes space evenly */
}

/* Main body */
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:whitesmoke;
    font-size: 70px;
    font-family:fantasy;
    font-weight: lighter;
  }
  
h2{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
    font-weight:lighter;
}

/* Add to your existing styles */
.button-container {
    position: absolute;
    top: 37%; /* Adjust based on exact positioning you desire */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.homebuttons{
    color: whitesmoke;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 30px; /* Adds space between buttons */
    text-decoration: none; /* Removes the underline from links */
    border: 1px solid whitesmoke;
    padding: 10px 20px;
    display: inline-block;
}

